.bodyMedia {
    display: grid;
    grid-template-areas:
        " header header header "
        " portada portada portada "
        " main main main "
        " footer footer footer "
    ;
    grid-template-columns: 150px 1fr 3fr;
    grid-template-rows: 150px 1fr 3.4fr 300px;
}

.portadaMedia {
    grid-area: portada;
    background-image: url(../../imagenes/media-portada.jpg);
    background-position: center;
    background-size: 1600px 782px;
    background-repeat: no-repeat;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding-left: 10px;
    height: 95vh;
    border-bottom: black solid 2px;

    .media {
        font-size: 15rem;
        text-align: left;
    }

    .descripcionMedia {
        font-size: 2.9rem;
        text-align: left;
    }
}


.mainMedia {
    background-color: $BackgroundColor;
    grid-area: main;
    margin-top: -3.2rem;

    .sectionVideos {
        margin-bottom: 70px;
        padding-bottom: 100px;
        @include radius(40px);
        box-shadow: $BoxShadow;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;

        .tituloMedia {
            text-align: center;
            font-size: 5rem;
        }

        .videosMedia {
            display: flex;
            justify-content: space-around;
            margin: 10px;

            div {
                border: $BordePrincipal 4px;
                padding: 5px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .spotify {
            border: $BordePrincipal 4px;
            @include radius(20px);
        }

        .carruselMedia {
            display: flex;
            flex-direction: column;
            align-items: center;

            .carousel-inner {
                border: $BordePrincipal 4px;

                .imgsCarrusel {
                    width: 1200px;
                    height: 600px;
                    padding: 20px;
                }
            }
        }
    }
}


/* Media Adaptación 4K */
@media screen and (min-width: 1536px) and (max-width: 2700px) {
    .portadaMedia {
        background-size: 2950px 1680px;
        height: unset;

        .media {
            font-size: 30rem;
        }

        .descripcionMedia {
            font-size: 7rem;
        }
    }

    .mainMedia {
        margin-top: -0.32rem;
        margin-bottom: 0rem;

        section {
            .sectionVideos {
                @include radius(40px);
                box-shadow: $BoxShadow;
                margin-left: 10px;
                margin-right: 10px;

                .tituloMedia {
                    font-size: 15rem;
                }

                .videosMedia {
                    display: flex;
                    justify-content: space-around;
                    margin: 10px;

                    div {
                        border: $BordePrincipal 4px;
                        padding: 5px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .iframeMedia {
                        width: 50rem;
                        height: 35rem;
                    }

                    .spotifyMedia {
                        width: 50rem;
                        height: 80rem;
                    }

                }

                .carruselMedia {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .carousel-inner {
                        border: $BordePrincipal 4px;

                        .imgsCarrusel {
                            width: 155rem;
                            height: 80rem;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* Media Laptop L */
@media screen and (min-width: 1400px) and (max-width: 1535px) {
    .portadaMedia {
        background-size: 1650px 927px;
        height: unset;

        .media {
            font-size: 18rem;
        }

        .descripcionMedia {
            font-size: 3.5rem;
        }
    }

    .mainMedia {
        margin-top: -0.32rem;
        margin-bottom: 0rem;

        section {
            .sectionVideos {
                @include radius(40px);
                box-shadow: $BoxShadow;
                margin-left: 10px;
                margin-right: 10px;

                .tituloMedia {
                    text-align: center;
                    font-size: 5rem;
                }

                .videosMedia {
                    display: flex;
                    justify-content: space-around;
                    margin: 10px;

                    div {
                        border: $BordePrincipal 4px;
                        padding: 5px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .iframeMedia {
                        width: 28rem;
                        height: 22rem;
                    }

                    .spotifyMedia {
                        width: 27rem;
                        height: 50rem;
                    }

                }

                .carruselMedia {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .carousel-inner {
                        border: $BordePrincipal 4px;

                        .imgsCarrusel {
                            width: 80rem;
                            height: 50rem;
                            padding: 20px;
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
    }
}

/* Media Tablet */
@media screen and (min-width: 641px) and (max-width: 1075px) {
    .bodyMedia {
        display: unset;
    }

    #logoMedia {
        width: 14rem;
    }

    #mobileLogomedia {
        width: 200px;
    }

    .portadaMedia {
        background-size: 70rem 120.5rem;
        text-align: center;
        height: unset;
        border-bottom: black solid 2px;
        height: 100vh;

        .media {
            font-size: 15rem;
            margin-bottom: -2rem;
        }

        .descripcionMedia {
            font-size: 2.3rem;
        }
    }

    .mainMedia {
        margin-top: 0rem;
        margin-bottom: 0rem;

        section {
            padding-top: 2rem;
            padding-bottom: 3rem;

            .sectionVideos {
                .tituloMedia {
                    font-size: 7rem !important;
                }

                .videosMedia {
                    @include flex(column);
                    align-items: center;

                    div {
                        margin-bottom: 30px;
                    }

                    .iframeMedia {
                        width: 34rem;
                        height: 23rem;
                    }

                    .spotifyMedia {
                        width: 30rem;
                        height: 50rem;
                    }
                }

                .carruselMedia {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .imgsCarrusel {
                        width: 38rem !important;
                        height: 25rem !important;
                        margin-left: 0px !important;
                        padding: 10px !important;
                    }
                }
            }
        }
    }

    #subidadivMedia {
        margin-top: -75px;
        bottom: 2px;
    }
}

/*Media Mobile*/
@media screen and (max-width: 640px) {
    .bodyMedia {
        display: unset;
    }

    #logoMedia {
        width: 14rem;
    }

    #mobileLogomedia {
        width: 200px;
    }

    .portadaMedia {
        background-size: 70rem 120.5rem;
        text-align: center;
        height: 150vh;
        border-bottom: black solid 2px;
        margin-bottom: -0.6rem;

        .media {
            font-size: 8rem;
        }

        .descripcionMedia {
            font-size: 2rem;
        }
    }

    .mainMedia {
        .sectionVideos {
            box-shadow: unset;
            margin-bottom: -4rem;

            .tituloMedia {
                font-size: 3.7rem !important;
            }

            .videosMedia {
                @include flex(column);
                align-items: center;

                div {
                    margin-bottom: 30px;
                }

                .iframeMedia {
                    width: 18.5rem;
                    height: 12rem;
                }

                .spotifyMedia {
                    width: 16rem;
                    height: 30rem;
                }
            }

            .carruselMedia {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: none;

                .carousel-inner {
                    border: $BordePrincipal 4px;

                    .imgsCarrusel {
                        width: 19rem !important;
                        height: 14rem !important;
                        margin-left: 0px !important;
                        padding: 5px !important;
                    }
                }
            }
        }
    }

    #subidadivMedia {
        margin-top: -75px;
        bottom: 2px;
    }
}