.bodyTrip {
    display: grid;
    grid-template-areas:
        " header header header "
        " portada portada portada "
        " main main aside "
        " main main aside "
        " footer footer footer "
    ;
    grid-template-columns: 150px 3fr 1fr;
    grid-template-rows: 150px 0.3fr 1fr 1fr 300px;
}

.portada {
    grid-area: portada;
    background-image: url(../../imagenes/one-piece-tripulaciones-fondo.jpg);
    background-position: center;
    background-size: 1500px 870px;
    background-repeat: no-repeat;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-left: 10px;
    height: 108vh;
    border-bottom: black solid 2px;

    .trips {
        font-size: 7.5rem;
    }

    .descripcionTrips {
        font-size: 2.5rem;
    }
}

.mainGrid {
    grid-area: main;
    background-color: $BackgroundColor;

    .tripulacionVh {
        height: 94vh;
        margin-bottom: -20px;
        margin-top: 40px;
        border-bottom: $BordePrincipal 2px;

        .tripulacionesInfo {
            padding-left: 10px;
            margin-top: 30px;

            .tripName {
                font-size: 4rem;
            }

            .tripulacion-imagenes {
                @include flex(row);
                align-items: flex-end;
                margin-bottom: 20px;

                .mugiwara {
                    width: 40rem;
                    height: 19rem;
                }

                .imgTrips {
                    @include flex(column);
                    margin-left: 10px;

                    .calavera {
                        width: 144px;
                        height: 144px;
                        margin-top: 15px;
                    }
                }

            }
        }

        .infoTripul {
            font-size: 1.1rem;
        }

        #parrafoAparte {
            margin-top: -10px;
        }
    }
}

.asideTrip {
    border: $BordePrincipal 2px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;

    .tripulacionesNav {
        position: sticky;
        top: 20px;
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 20px;
        padding: 20px;

        .asideLink {
            opacity: 0.7;
            font-size: 1.5rem;
            text-align: center;

            &:hover {
                opacity: 1;
            }
        }
    }
}

/* Tripulaciones 4K */
@media screen and (min-width: 1518px) and (max-width: 2655px) {
    .portada {
        background-size: 2700px 1550px !important;

        .trips {
            font-size: 15rem;
        }
    
        .descripcionTrips {
            font-size: 4.5rem;
        }
    }

    
.asideTrip {
    margin-top: -6.8rem;

    .tripulacionesNav {
        position: sticky;
        top: 20px;
        margin-top: 20px;
        margin-bottom: 80px !important;
        margin-left: 20px;
        padding-bottom: 50px;

        .asideLink {
            font-size: 3.7rem;
        }
    }
}

.mainGrid {
    margin-top: -6.8rem;

    .tripulacionVh {
        height: 110vh !important;
    
        .tripulacionesInfo {
            .tripName {
                font-size: 10rem !important;
            }
        
            .infoTripul {
                font-size: 3rem !important; 
            }
        
            .tripulacion-imagenes {
                @include flex(row);
                align-items: flex-end;
                margin-bottom: 20px;
        
                .mugiwara {
                    width: 95rem !important;
                    height: 45rem !important;
                }
        
                .imgTrips {
                    @include flex(column);
                    margin-left: 10px;
        
                    .calavera {
                        width: 352px !important;
                        height: 352px !important;
                        margin-top: 15px;
                    }
                }
            }    
        }
    }
}

}

/* Tripulaciones Laptop L */
@media screen and (min-width: 1440px) and (max-width: 1517px) {
    .portada {
        .trips {
            font-size: 8rem;
        }
    
        .descripcionTrips {
            font-size: 3rem;
        }
    }

    
.asideTrip {
    .tripulacionesNav {
        position: sticky;
        top: 20px;
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 20px;
        padding-bottom: 30px;

        .asideLink {
            font-size: 2rem;
        }
    }
}

.tripulacionesInfo {
    .tripName {
        font-size: 6rem !important;
    }

    .infoTripul {
        font-size: 1.5rem !important; 
    }
}

}

/* Tripulaciones Tablet */
@media screen and (min-width: 641px) and (max-width: 1062px) {
    .bodyTrip {
        display: unset !important;
    }

    header {
        .headerTrips {
            margin-bottom: 0px;

            .logoImage {
                width: 18rem;
            }
        }
    }

    .portada {
        height: 123vh;
        background-size: 70rem 50rem;
        border-bottom: black solid 2px !important;

        .trips {
            font-size: 5rem;
            font-weight: bold;
        }

        .descripcionTrips {
            font-size: 1.5rem;
        }
    }

    .mainGrid {
        #vhBigmomyluffy {
            height: unset;
        }

        .tripulacionVh {
            height: unset;
            text-align: center;
            border: $BordePrincipal 10px;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        .tripulacionesInfo {
            margin-top: 20px;

            .tripulacion-imagenes {
                margin-left: 0rem;

                .mugiwara {
                    width: 30rem !important;
                    height: 17rem !important;
                    margin-top: 10px;
                }

                .calavera {
                    width: 128px !important;
                    height: 128px !important;
                }
            }

            .tripName {
                font-size: 4rem !important;
                margin: 0px;
            }

            .infoTripul {
                font-size: 1.5rem;
            }
        }
    }

    .asideTrip {
        border: unset;
        margin-bottom: -10rem;
        margin-top: -10rem;

        .tripulacionesNav {
            position: static !important;
            top: 0px;
            margin-top: 20px;
            margin-bottom: 8rem;
            margin-left: 20px;
            padding: 20px;

            .asideLink {
                a {
                    font-family: $FuenteNavTripul;
                    font-size: 2rem;
                }
            }
        }
    }
}

/* Tripulaciones Mobile */
@media screen and (max-width: 640px) {
    .bodyTrip {
        display: unset;
    }

    header {
        .headerTrips {
            margin-bottom: 20px;

            .logoImage {
                width: 15rem;
            }
        }
    }

    .portada {
        height: 130vh;
        background-size: 70rem 50rem;
        border-bottom: black solid 2px !important;

        .trips {
            font-size: 4rem;
            font-weight: bold;
        }

        .descripcionTrips {
            font-size: 1.5rem;
        }
    }

    .mainGrid {
        #vhBigmomyluffy {
            height: 190vh;
        }

        .tripulacionVh {
            height: 175vh;
            text-align: center;
            border: $BordePrincipal 10px;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        .tripulacionesInfo {
            margin-top: 20px;

            .tripName {
                font-size: 4rem !important;
                margin: 0px;
            }

            .mugiwara {
                width: 20rem !important;
                height: 11rem !important;
                margin-top: 10px;
            }

            .calavera {
                width: 80px !important;
                height: 80px !important;
            }

            .infoTripul {
                font-size: 1.5rem;
            }
        }
    }

    .asideTrip {
        border: unset;

        .tripulacionesNav {
            position: static !important;
            top: 0px;
            margin-top: 20px;
            margin-bottom: 8rem;
            margin-left: 20px;
            padding: 20px;

            .asideLink {
                a {
                    font-family: $FuenteNavTripul;
                    font-size: 2rem;
                }
            }
        }
    }
}

/* Tripulaciones Mobile M */
@media screen and (max-width: 419px) {
    .portada {
        .trips {
            font-size: 3.5rem;
            font-weight: bold;
        }

        .descripcionTrips {
            font-size: 1.3rem;
        }
    }

    .mainGrid {
        .tripulacionesInfo {
            .mugiwara {
                width: 17rem !important;
                height: 9.7rem !important;
                margin-top: 10px;
            }

            .calavera {
                width: 70px !important;
                height: 70px !important;
            }

            .infoTripul {
                font-size: 1.41rem;
            }
        }
    }
}

/* Tripulaciones Mobile S */
@media screen and (max-width: 374px) {
    header {
        .headerTrips {
            .logoImage {
                width: 13rem;
                margin-top: 1rem;
            }
        }
    }

    .portada {
        .trips {
            font-size: 3rem;
            font-weight: bold;
        }

        .descripcionTrips {
            font-size: 1.3rem;
        }
    }

    .mainGrid {
        #vhBigmomyluffy {
            height: 190vh;
        }

        .tripulacionVh {
            height: 175vh;
            text-align: center;
            border: $BordePrincipal 10px;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        .tripulacionesInfo {
            .tripName {
                font-size: 4rem !important;
            }

            .mugiwara {
                width: 15rem !important;
                height: 7.2rem !important;
                margin-top: 10px;
            }

            .calavera {
                width: 50px !important;
                height: 50px !important;
            }

            .infoTripul {
                font-size: 1.35rem;
            }
        }
    }
}