header {
    font-family: $FuentePrincipal;
    background-image: url(../../imagenes/fondo-cover.jpg);
    background-position: bottom;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: end;

    img {
        width: 300px;
        margin: 10px;
    }

    li {
        font-family: $FuentePrincipal;
        margin: 20px;
        font-size: 25px;
        font-weight: 590;

        a:hover {
            text-decoration: underline;
        }
    }
}