// Variables
@import "./asbtracts/variables";

// Mixins
@import "./asbtracts/mixins";

/* Selector Universal */
@import "./base/reset";

/* Header Universal */
@import "./layout/header";

/*Index*/
@import "./pages/index.scss";

/* Tripulaciones */
@import "./pages/tripulaciones.scss";

/* Grand Line */
@import "./pages/grandline.scss";

/* Media */
@import "./pages/media.scss";

/* Se Un Nakama */
@import "./pages/se-un-nakama.scss";

/* Error 404 */
@import "./pages/error404";

/* Footer Universal */
@import "./layout/footer.scss";

/* Displays Nones Generales */
@media screen and (min-width: 991px) {
    .carrusel {
        display: none;
    }

    #navMobile {

        display: none;

    }

    #navgrandLine {

        display: none;

    }

    #navMedia {
        display: none;
    }

    #navTrips {
        display: none;
    }

    .subidaDiv {

        display: none;

    }
}