@charset "UTF-8";
/* Selector Universal */
* {
  font-family: "Caesar Dressing", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Header Universal */
header {
  background-image: url(../../imagenes/fondo-cover.jpg);
  background-position: bottom;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header img {
  width: 300px;
  margin: 10px;
}
header ul li {
  margin: 20px;
  font-size: 25px;
  font-weight: 590;
}
header ul li a:hover {
  text-decoration: underline;
}

/*Index*/
body {
  display: grid;
  grid-template-areas: "header  header  header" "info  info  aside" "footer  footer  footer";
  grid-template-columns: 150px 3fr 0.5fr;
  grid-template-rows: 150px 1fr 400px;
}

.infoGrid {
  background-color: lightblue;
  grid-area: info;
}
.infoGrid .infoPortada {
  text-align: center;
  margin-bottom: 7rem;
}
.infoGrid .infoPortada .tituloPrincipal {
  font-size: 4rem;
}
.infoGrid .infoPortada p {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
.infoGrid .infoPortada a {
  color: burlywood;
  text-decoration: none;
}
.infoGrid .infoPortada a:hover {
  color: rgb(223, 174, 111);
}
.infoGrid .mainInfo {
  text-align: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.infoGrid .mainInfo h2 {
  padding-right: 10px;
  font-size: 3rem;
}
.infoGrid .mainInfo p {
  font-size: 1.5rem;
  padding-right: 10px;
  font-family: "Bebas Neue", cursive;
}
.infoGrid .mainInfo .imagenMain {
  text-align: left;
  margin: 30px 10px 0px;
  width: 300px;
}
.infoGrid .mainInfo .imagenMain .liveAction {
  border-radius: 10px;
  width: 300px;
}
.infoGrid .maiNinfo {
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.infoGrid .maiNinfo h2 {
  padding-left: 10px;
  font-size: 3rem;
}
.infoGrid .maiNinfo p {
  font-size: 1.5rem;
  padding-left: 10px;
  font-family: "Bebas Neue", cursive;
}
.infoGrid .maiNinfo .filmRed {
  text-align: end;
  margin: 20px 10px 0px;
}
.infoGrid .maiNinfo .filmRed .Imagenmain {
  border-radius: 10px;
  width: 300px;
  margin-top: 20px;
}
.infoGrid .Mundoinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  margin: 20px 20px;
}
.infoGrid .Mundoinfo h2 {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
}
.infoGrid .Mundoinfo .mundoInfo {
  display: grid !important;
  grid-template-areas: "arcos  manga " "anime  yonkou " "frutas personajes ";
  grid-template-columns: 110px 300px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 200px;
}
.infoGrid .Mundoinfo .mundoInfo a {
  color: black;
  text-decoration: none;
  font-family: "Alfa Slab One", cursive;
}
.infoGrid .Mundoinfo .mundoInfo #fondosDiv {
  font-size: 40px;
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-top: solid;
  color: burlywood;
  border-right: solid;
  border-width: 7px;
}
.infoGrid .Mundoinfo .mundoInfo #fondosDiv:hover {
  font-size: 42px;
  overflow: unset;
}
.infoGrid .Mundoinfo .mundoInfo .arcos {
  background-image: url(../../imagenes/arcos.jpg);
  padding: 70px 50px;
  border-width: 7px;
  margin: 20px 70px;
  padding: 65px 20px 0px 0px;
}
.infoGrid .Mundoinfo .mundoInfo .arcos:hover {
  background-image: url(../../imagenes/blurred-arcos.jpg);
}
.infoGrid .Mundoinfo .mundoInfo .manga {
  background-image: url(../../imagenes/manga.jpg);
  padding: 70px 30px;
  border-width: 7px;
  margin: 20px 70px;
  grid-area: manga;
}
.infoGrid .Mundoinfo .mundoInfo .manga:hover {
  background-image: url(../../imagenes/blurred-manga.jpg);
}
.infoGrid .Mundoinfo .mundoInfo .anime {
  background-image: url(../../imagenes/anime.jpe);
  margin: 20px 70px;
  padding: 65px 20px 0px 0px;
  grid-area: anime;
}
.infoGrid .Mundoinfo .mundoInfo .anime:hover {
  background-image: url(../../imagenes/blurred-anime.jpg);
}
.infoGrid .Mundoinfo .mundoInfo .yonkou {
  background-image: url(../../imagenes/yonkous.webp);
  padding: 100px 10px;
  margin: 20px 70px;
  padding: 65px 20px 0px 0px;
  grid-area: yonkou;
}
.infoGrid .Mundoinfo .mundoInfo .yonkou:hover {
  background-image: url(../../imagenes/blurred-yonkou.jpg);
}
.infoGrid .Mundoinfo .mundoInfo .frutas {
  background-image: url(../../imagenes/frutas.webp);
  padding: 65px 20px 0px;
  margin: 20px 70px;
  grid-area: frutas;
}
.infoGrid .Mundoinfo .mundoInfo .frutas:hover {
  background-image: url(../../imagenes/blurred-frutas.jpg);
}
.infoGrid .Mundoinfo .mundoInfo .personajes {
  background-image: url(../../imagenes/personajes.webp);
  padding: 70px 0px;
  border-width: 7px;
  margin: 20px 70px;
  grid-area: personajes;
}
.infoGrid .Mundoinfo .mundoInfo .personajes:hover {
  background-image: url(../../imagenes/blurred-personajes.jpg);
  font-size: 42px;
}

aside {
  background-color: lightblue;
  grid-area: aside;
}
aside .Aside {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
}
aside .Aside h2 {
  margin: 0px 10px;
}
aside .Aside #gearFive {
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  border-radius: 10px;
}
aside .Aside #gearFive h3 {
  margin-left: 10px;
}
aside .Aside #gearFive p {
  margin-left: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  margin-right: 10px;
}
aside .Aside #gearFive img {
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  width: 300px;
}
aside .Aside #gearFive .botoncito {
  color: black;
  list-style-type: none;
  text-decoration: none;
  margin: 10px 10px;
  background-color: burlywood;
  border-radius: 30px;
  font-size: 1rem;
  padding: 5px;
}
aside .Aside #gearFive .botoncito:hover {
  background-color: rgb(221, 174, 112);
}
aside .Aside #volumenNuevo {
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px 20px;
  border-radius: 10px;
}
aside .Aside #volumenNuevo h3 {
  margin-left: 10px;
}
aside .Aside #volumenNuevo p {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
}
aside .Aside #volumenNuevo img {
  margin: 0px 10px 10px;
  width: 250px;
  border-radius: 10px;
}
aside .Aside #volumenNuevo .botoncito {
  color: black;
  list-style-type: none;
  text-decoration: none;
  margin: 50px 10px;
  background-color: burlywood;
  border-radius: 30px;
  font-size: 1rem;
  padding: 5px;
}
aside .Aside #volumenNuevo .botoncito:hover {
  background-color: rgb(221, 174, 112);
}

/* Adaptación 4k */
@media screen and (min-width: 1501px) {
  .infoPortada .tituloPrincipal {
    font-size: 8rem !important;
  }
  .infoPortada p {
    font-size: 3rem !important;
  }
  .infoIndex .mainInfo article h2 {
    font-size: 6rem;
  }
  .infoIndex .mainInfo article p {
    font-size: 2.5rem;
    padding-left: 15rem !important;
  }
  .infoIndex .mainInfo .imagenMain .liveAction {
    width: 35rem !important;
  }
  .infoIndex .maiNinfo article h2 {
    font-size: 6rem;
  }
  .infoIndex .maiNinfo article p {
    font-size: 2.5rem;
    padding-right: 15rem !important;
  }
  .infoIndex .maiNinfo .filmRed .Imagenmain {
    width: 40rem !important;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .infoIndex .Mundoinfo h2 {
    font-size: 6rem;
  }
  .infoIndex .Mundoinfo .mundoInfo {
    grid-template-columns: 250px 500px;
  }
  .infoIndex .Mundoinfo .mundoInfo #fondosDiv {
    width: 400px !important;
    height: 400px !important;
    background-size: 400px 400px !important;
    font-size: 6.5rem !important;
  }
  aside .Aside section h2 {
    font-size: 5rem !important;
  }
  aside .Aside section h3 {
    font-size: 4rem;
  }
  aside .Aside section p {
    font-size: 2.5rem !important;
  }
  aside .Aside section p img {
    width: 40rem !important;
    margin: 1rem !important;
  }
  aside .Aside section .botoncito {
    font-size: 2.5rem !important;
  }
}
/* Adaptación Tablet */
@media screen and (min-width: 680px) and (max-width: 990px) {
  body {
    display: unset;
  }
  #navDesk {
    display: none;
  }
  #navMobile {
    margin-bottom: 15px;
  }
  #navMobile a {
    font-size: 2rem;
  }
  #navMobile #togglerGrand {
    border: #0e0e0e solid 3px;
    border-radius: 30px;
    margin-left: -5rem;
  }
  #navMobile #togglerGrand #togglerIcongrand {
    width: 50px;
    height: 60px;
  }
  #navMobile .logoMobile {
    width: 200px;
  }
  .logoMobile {
    width: 15rem;
    margin-bottom: -30px;
  }
  .infoPortada {
    margin-bottom: 1rem !important;
  }
  .infoPortada h2 {
    font-size: 5rem !important;
  }
  .infoIndex h2 {
    text-align: center !important;
    font-size: 4rem;
  }
  .infoIndex .mainInfo {
    flex-direction: column-reverse !important;
    text-align: center !important;
    align-items: center !important;
  }
  .infoIndex .mainInfo p {
    font-size: 1.5rem;
    padding: 10px;
  }
  .infoIndex .mainInfo p .liveAction {
    width: 40rem !important;
    border-radius: 20px !important;
    margin-left: -11rem;
  }
  .infoIndex .maiNinfo {
    flex-direction: column-reverse !important;
    text-align: center !important;
    align-items: center !important;
  }
  .infoIndex .maiNinfo p {
    font-size: 1.5rem;
    padding: 10px;
  }
  .infoIndex .maiNinfo p .Imagenmain {
    width: 40rem !important;
  }
  .infoIndex .Mundoinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoIndex .Mundoinfo h2 {
    text-align: center !important;
    font-size: 4rem;
  }
  .infoIndex .Mundoinfo .mundoInfo {
    display: grid !important;
    grid-template-areas: "arcos  manga " "anime  yonkou " "frutas personajes ";
    grid-template-columns: 110px 250px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 250px;
    overflow-x: hidden;
  }
  .infoIndex .Mundoinfo .mundoInfo #fondosDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px !important;
    height: 250px !important;
    background-size: 250px 250px !important;
    font-size: 3rem !important;
    margin-left: 0rem !important;
  }
  .Aside {
    display: none;
  }
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -9rem;
    margin-top: -5rem;
  }
  aside .carrusel {
    width: 40rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
  aside .carrusel img {
    width: 40rem;
    border-radius: 30px;
  }
  aside .carrusel .carruselImage {
    width: 40rem;
    border-radius: 30px;
  }
  aside .carrusel #carruselImagen h5, aside .carrusel #carruselImagen p {
    color: #0e0e0e;
    font-weight: bold;
  }
  .subidaDiv {
    position: sticky;
    margin-right: 100px;
    bottom: 25px;
  }
  .subidaDiv .imgSubida {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0px -20px 5px 5px;
    z-index: 1;
  }
}
/* Adaptacion a Mobile */
@media screen and (max-width: 679px) {
  body {
    display: unset;
    overflow-x: hidden;
  }
  .logoIndex {
    width: 16rem;
  }
  #navDesk {
    display: none;
  }
  #navMobile {
    margin-bottom: 15px;
  }
  #navMobile a {
    font-size: 2rem;
  }
  #navMobile #togglerGrand {
    border: #0e0e0e solid 3px;
    border-radius: 30px;
    margin-left: -5rem;
  }
  #navMobile #togglerGrand #togglerIcongrand {
    width: 50px;
    height: 60px;
  }
  #navMobile .logoMobile {
    width: 200px;
  }
  .infoPortada {
    margin-bottom: 0rem !important;
  }
  .infoPortada .tituloPrincipal {
    font-size: 4rem !important;
  }
  .infoPortada p {
    font-size: 1.5rem !important;
  }
  .infoIndex h2 {
    text-align: center !important;
    font-size: 3rem;
  }
  .infoIndex .mainInfo {
    flex-direction: column-reverse !important;
    text-align: center !important;
    align-items: center !important;
  }
  .infoIndex .mainInfo p {
    font-size: 1.5rem;
    padding: 10px;
  }
  .infoIndex .mainInfo p .liveAction {
    width: 18rem !important;
    border-radius: 20px !important;
  }
  .infoIndex .maiNinfo {
    flex-direction: column-reverse !important;
    text-align: center !important;
    align-items: center !important;
  }
  .infoIndex .maiNinfo p {
    font-size: 1.5rem;
    padding: 10px;
  }
  .infoIndex .maiNinfo p .Imagenmain {
    width: 18rem !important;
  }
  .infoIndex .Mundoinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoIndex .Mundoinfo h2 {
    text-align: center !important;
  }
  .infoIndex .Mundoinfo .mundoInfo {
    display: grid !important;
    grid-template-areas: "arcos  manga " "anime  yonkou " "frutas personajes ";
    grid-template-columns: 110px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 30px;
    margin-left: -50px !important;
    overflow-x: hidden;
  }
  .infoIndex .Mundoinfo .mundoInfo #fondosDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px !important;
    height: 130px !important;
    background-size: 130px 130px !important;
    font-size: 30px !important;
    padding-top: 50px !important;
  }
  .subidaDiv {
    position: sticky;
    margin-right: 100px;
    bottom: 25px;
  }
  .subidaDiv .imgSubida {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0px -20px 5px 5px;
    z-index: 1;
  }
  .Aside {
    display: none;
  }
  aside {
    margin-bottom: -9rem;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  aside .carrusel {
    width: 20rem;
    padding-top: 6rem;
    padding-bottom: 9.5rem;
  }
  aside .carrusel img {
    width: 20rem !important;
    border-radius: 20px;
  }
  aside .carrusel .carruselImage {
    width: 20rem !important;
    border-radius: 20px;
  }
}
/* Adaptación Mobile S */
@media screen and (max-width: 320px) {
  .logoIndex {
    width: 13rem;
  }
  .infoIndex .mainInfo p .liveAction {
    width: 15rem !important;
    margin-left: 1.2rem;
  }
  .infoIndex .maiNinfo p .Imagenmain {
    width: 15rem !important;
  }
  #fondosDiv {
    margin-left: 4rem !important;
  }
  aside .carrusel {
    width: 18rem !important;
  }
  aside .carrusel img {
    width: 18rem !important;
  }
  aside .carrusel .carruselImage {
    width: 18rem !important;
  }
}
/* Tripulaciones */
.bodyTrip {
  display: grid;
  grid-template-areas: " header header header " " portada portada portada " " main main aside " " main main aside " " footer footer footer ";
  grid-template-columns: 150px 3fr 1fr;
  grid-template-rows: 150px 0.3fr 1fr 1fr 300px;
}

.portada {
  grid-area: portada;
  background-image: url(../../imagenes/portada_oscura_trips.jpg);
  background-position: center;
  background-size: 1500px 870px;
  background-repeat: no-repeat;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-left: 10px;
  height: 108vh;
  border-bottom: black solid 2px;
}
.portada .trips {
  font-size: 7.5rem;
}
.portada .descripcionTrips {
  font-size: 2.5rem;
}

.mainGrid {
  grid-area: main;
  background-color: lightblue;
}
.mainGrid #vhBigmomyluffy {
  height: 100vh;
}
.mainGrid .tripulacionVh {
  height: 94vh;
  margin-bottom: -20px;
  margin-top: 40px;
  border-bottom: burlywood solid 2px;
}
.mainGrid .tripulacionVh .tripulacionesInfo {
  padding-left: 10px;
  margin-top: 30px;
}
.mainGrid .tripulacionVh .tripulacionesInfo .tripName {
  font-size: 4rem;
}
.mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
}
.mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes .mugiwara {
  width: 40rem;
  height: 19rem;
}
.mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes .imgTrips {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes .imgTrips .calavera {
  width: 144px;
  height: 144px;
  margin-top: 15px;
}
.mainGrid .tripulacionVh .infoTripul {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}
.mainGrid .tripulacionVh #parrafoAparte {
  margin-top: -10px;
}

.asideTrip {
  border: burlywood solid 2px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
.asideTrip .tripulacionesNav {
  position: sticky;
  top: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 20px;
  padding: 20px;
}
.asideTrip .tripulacionesNav .asideLink {
  opacity: 0.7;
  font-size: 1.5rem;
  text-align: center;
}
.asideTrip .tripulacionesNav .asideLink:hover {
  opacity: 1;
}

/* Tripulaciones 4K */
@media screen and (min-width: 1518px) and (max-width: 2655px) {
  .portada {
    background-size: 2700px 1550px !important;
  }
  .portada .trips {
    font-size: 15rem;
  }
  .portada .descripcionTrips {
    font-size: 4.5rem;
  }
  .asideTrip {
    margin-top: -6.8rem;
  }
  .asideTrip .tripulacionesNav {
    position: sticky;
    top: 20px;
    margin-top: 20px;
    margin-bottom: 80px !important;
    margin-left: 20px;
    padding-bottom: 50px;
  }
  .asideTrip .tripulacionesNav .asideLink {
    font-size: 3.7rem;
  }
  .mainGrid {
    margin-top: -6.8rem;
  }
  .mainGrid .tripulacionVh {
    height: 110vh !important;
  }
  .mainGrid .tripulacionVh .tripulacionesInfo .tripName {
    font-size: 10rem !important;
  }
  .mainGrid .tripulacionVh .tripulacionesInfo .infoTripul {
    font-size: 3rem !important;
  }
  .mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes .mugiwara {
    width: 95rem !important;
    height: 45rem !important;
  }
  .mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes .imgTrips {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .mainGrid .tripulacionVh .tripulacionesInfo .tripulacion-imagenes .imgTrips .calavera {
    width: 352px !important;
    height: 352px !important;
    margin-top: 15px;
  }
}
/* Tripulaciones Laptop L */
@media screen and (min-width: 1440px) and (max-width: 1517px) {
  .portada .trips {
    font-size: 8rem;
  }
  .portada .descripcionTrips {
    font-size: 3rem;
  }
  .asideTrip .tripulacionesNav {
    position: sticky;
    top: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    padding-bottom: 30px;
  }
  .asideTrip .tripulacionesNav .asideLink {
    font-size: 2rem;
  }
  .tripulacionesInfo .tripName {
    font-size: 6rem !important;
  }
  .tripulacionesInfo .infoTripul {
    font-size: 1.5rem !important;
  }
}
/* Tripulaciones Tablet */
@media screen and (min-width: 641px) and (max-width: 1062px) {
  .bodyTrip {
    display: unset !important;
  }
  header .headerTrips {
    margin-bottom: 0px;
  }
  header .headerTrips .logoImage {
    width: 18rem;
  }
  .portada {
    height: 123vh;
    background-size: 70rem 50rem;
    border-bottom: black solid 2px !important;
  }
  .portada .trips {
    font-size: 5rem;
    font-weight: bold;
  }
  .portada .descripcionTrips {
    font-size: 1.5rem;
  }
  .mainGrid #vhBigmomyluffy {
    height: unset;
  }
  .mainGrid #kaidoBottom {
    margin-bottom: 15rem;
  }
  .mainGrid .tripulacionVh {
    height: unset;
    text-align: center;
    border: burlywood solid 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .mainGrid .tripulacionesInfo {
    margin-top: 20px;
  }
  .mainGrid .tripulacionesInfo .tripulacion-imagenes {
    margin-left: 0rem;
  }
  .mainGrid .tripulacionesInfo .tripulacion-imagenes .mugiwara {
    width: 30rem !important;
    height: 17rem !important;
    margin-top: 10px;
  }
  .mainGrid .tripulacionesInfo .tripulacion-imagenes .calavera {
    width: 128px !important;
    height: 128px !important;
  }
  .mainGrid .tripulacionesInfo .tripName {
    font-size: 4rem !important;
    margin: 0px;
  }
  .mainGrid .tripulacionesInfo .infoTripul {
    font-size: 1.5rem;
  }
  .asideTrip {
    border: unset;
    margin-bottom: -10rem;
    margin-top: -10rem;
  }
  .asideTrip .tripulacionesNav {
    position: static !important;
    top: 0px;
    margin-top: 20px;
    margin-bottom: 8rem;
    margin-left: 20px;
    padding: 20px;
  }
  .asideTrip .tripulacionesNav .asideLink a {
    font-family: "Akronim", cursive;
    font-size: 2rem;
  }
}
/* Tripulaciones Mobile */
@media screen and (max-width: 640px) {
  .bodyTrip {
    display: unset;
  }
  header .headerTrips {
    margin-bottom: 20px;
  }
  header .headerTrips .logoImage {
    width: 15rem;
  }
  .portada {
    height: 135vh;
    background-size: 70rem 50rem;
    border-bottom: black solid 2px !important;
  }
  .portada .trips {
    font-size: 4rem;
    font-weight: bold;
  }
  .portada .descripcionTrips {
    font-size: 1.5rem;
  }
  .mainGrid {
    margin-bottom: -85px !important;
  }
  .mainGrid #vhBigmomyluffy {
    height: unset;
  }
  .mainGrid #kaidoBottom {
    margin-bottom: 3rem;
  }
  .mainGrid .tripulacionVh {
    height: unset;
    text-align: center;
    border: burlywood solid 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .mainGrid .tripulacionesInfo {
    margin-top: 20px;
  }
  .mainGrid .tripulacionesInfo .tripName {
    font-size: 4rem !important;
    margin: 0px;
  }
  .mainGrid .tripulacionesInfo .mugiwara {
    width: 20rem !important;
    height: 11rem !important;
    margin-top: 10px;
  }
  .mainGrid .tripulacionesInfo .calavera {
    width: 80px !important;
    height: 80px !important;
  }
  .mainGrid .tripulacionesInfo .infoTripul {
    font-size: 1.5rem;
  }
  .asideTrip {
    border: unset;
  }
  .asideTrip .tripulacionesNav {
    position: static !important;
    top: 0px;
    margin-top: 20px;
    margin-bottom: 8rem;
    margin-left: 20px;
    padding: 20px;
  }
  .asideTrip .tripulacionesNav .asideLink a {
    font-family: "Akronim", cursive;
    font-size: 2rem;
  }
}
/* Tripulaciones Mobile M */
@media screen and (max-width: 419px) {
  .portada .trips {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .portada .descripcionTrips {
    font-size: 1.3rem;
  }
  .mainGrid .tripulacionesInfo .mugiwara {
    width: 17rem !important;
    height: 9.7rem !important;
    margin-top: 10px;
  }
  .mainGrid .tripulacionesInfo .calavera {
    width: 70px !important;
    height: 70px !important;
  }
  .mainGrid .tripulacionesInfo .infoTripul {
    font-size: 1.41rem;
  }
}
/* Tripulaciones Mobile S */
@media screen and (max-width: 374px) {
  header .headerTrips .logoImage {
    width: 13rem;
    margin-top: 1rem;
  }
  .portada .trips {
    font-size: 3rem;
    font-weight: bold;
  }
  .portada .descripcionTrips {
    font-size: 1.3rem;
  }
  .mainGrid #vhBigmomyluffy {
    height: unset;
  }
  .mainGrid #kaidoBottom {
    margin-bottom: 3rem;
  }
  .mainGrid .tripulacionVh {
    height: unset;
    text-align: center;
    border: burlywood solid 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .mainGrid .tripulacionesInfo .tripName {
    font-size: 4rem !important;
  }
  .mainGrid .tripulacionesInfo .mugiwara {
    width: 15rem !important;
    height: 7.2rem !important;
    margin-top: 10px;
  }
  .mainGrid .tripulacionesInfo .calavera {
    width: 50px !important;
    height: 50px !important;
  }
  .mainGrid .tripulacionesInfo .infoTripul {
    font-size: 1.35rem;
  }
}
/* Grand Line */
.bodyGrand {
  display: grid;
  grid-template-areas: " header header header " " portada portada portada " " main main main " " footer footer footer ";
  grid-template-columns: 150px 3fr 1fr;
  grid-template-rows: 150px 0.3fr 2.5fr 300px;
  overflow-x: hidden;
}

.portadaGrand {
  grid-area: portada;
  background-image: url(../../imagenes/grand-line-fondo.jpg);
  background-position: center;
  background-size: 97rem 55rem;
  background-repeat: no-repeat;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 10px;
  height: unset;
  border-bottom: black solid 2px;
}
.portadaGrand .grandLine {
  font-size: 7rem;
}
.portadaGrand .descripcionGrand {
  font-size: 2.3rem;
}
.portadaGrand .tituloBelt {
  font-family: "Akronim", cursive;
  font-weight: bold;
}
.portadaGrand #navbarGrand {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
}
.portadaGrand #navbarGrand #navGrand {
  font-family: "Akronim", cursive;
  font-weight: bold;
  font-size: 2rem;
  opacity: 0.6;
  margin-bottom: 5rem;
}
.portadaGrand #navbarGrand #navGrand:hover {
  opacity: 1;
}

.grandLinevh {
  border-bottom: burlywood solid 2px;
}
.grandLinevh .grandlineInfo {
  display: flex;
}
.grandLinevh .grandlineInfo .tituloGrand {
  font-size: 5rem;
  margin-left: 10px;
}
.grandLinevh .grandlineInfo .Infoline {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  margin-left: 10px;
}
.grandLinevh .grandlineInfo .grandImagen {
  margin-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.grandLinevh .grandlineInfo .grandImagen .imgsTripulantes {
  display: flex;
  flex-direction: row;
}
.grandLinevh .grandlineInfo .grandImagen .imgsTripulantes .trpulantesNuevos {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 27px;
  margin-bottom: 20px;
  width: 305px;
  height: 200px;
}
.grandLinevh .grandlineInfo .grandImagen .grandImages {
  width: 40rem;
  height: 19rem;
}

#marineford {
  border-bottom: 0px;
}

/* Adaptación 4K */
@media screen and (min-width: 1560px) and (max-width: 2560px) {
  .portadaGrand {
    background-size: 160rem 74rem;
  }
  .portadaGrand .grandLine {
    font-size: 17rem;
  }
  .portadaGrand .descripcionGrand {
    font-size: 4rem;
  }
  .portadaGrand .tituloBelt {
    font-size: 5rem;
  }
  .portadaGrand #navbarGrand #navGrand {
    font-size: 4rem;
    margin-bottom: 8rem;
  }
  .grandLinevh .grandlineInfo .tituloGrand {
    font-size: 9rem;
  }
  .grandLinevh .grandlineInfo .Infoline {
    font-size: 4rem;
  }
  .grandLinevh .grandlineInfo .grandImagen .imgsTripulantes .trpulantesNuevos {
    margin-top: 20px;
    width: 505px;
    height: 400px;
  }
  .grandLinevh .grandlineInfo .grandImagen .grandImages {
    width: 65rem;
    height: 34rem;
  }
  #marineford {
    border-bottom: 0px;
  }
}
/* Adaptación Tablet */
@media screen and (min-width: 641px) and (max-width: 1075px) {
  .bodyGrand {
    display: unset;
  }
  header #logoGrand {
    width: 17rem;
  }
  header #navgrandLine {
    margin-bottom: 10px;
  }
  header #navgrandLine a {
    font-size: 2rem;
  }
  header #navgrandLine #togglerGrand {
    border: #0e0e0e solid 3px;
    border-radius: 30px;
  }
  header #navgrandLine #togglerGrand #togglerIcongrand {
    width: 50px;
    height: 60px;
  }
  header #navgrandLine #mobileLogoGrand {
    width: 200px;
  }
  .portadaGrand {
    height: unset;
    background-size: 70rem 189rem;
  }
  .portadaGrand .grandLine {
    font-size: 7rem !important;
  }
  .portadaGrand .descripcionGrand {
    font-size: 1.7rem !important;
  }
  .portadaGrand .tituloBelt {
    font-size: 3rem;
  }
  .portadaGrand #navbarGrand {
    flex-direction: column !important;
  }
  .portadaGrand #navbarGrand #navGrand {
    font-size: 2.3rem !important;
    margin: 10px;
  }
  .mainGrid {
    margin-bottom: -15rem;
  }
  .mainGrid #marineFord {
    border-bottom: 0px;
  }
  .mainGrid #marineFord #marineford {
    margin-bottom: 15rem;
    border-bottom: none;
  }
  .mainGrid .grandLinevh .grandlineInfo {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainGrid .grandLinevh .grandlineInfo .tituloGrand {
    font-size: 5rem !important;
    text-align: center;
  }
  .mainGrid .grandLinevh .grandlineInfo .Infoline {
    font-size: 1.2rem;
    text-align: center;
  }
  .mainGrid #infoInvert {
    display: flex;
    flex-direction: column;
  }
  .mainGrid .grandImagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px !important;
  }
  .mainGrid .grandImagen .imgsTripulantes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 200px;
    height: 200px;
  }
  .mainGrid .grandImagen .imgsTripulantes .trpulantesNuevos {
    display: none;
  }
  .mainGrid .grandImagen .grandImages {
    width: 40rem !important;
    height: 20rem !important;
    margin-top: -160px;
    margin-bottom: -30px;
  }
  #subidadivGrand {
    margin-left: 10px;
    margin-top: -4.5rem;
    bottom: 2rem;
  }
  #subidadivGrand #imgsubidaGrand {
    width: 70px;
    height: 70px;
  }
}
/* Grand Line Mobile */
@media screen and (max-width: 640px) {
  .bodyGrand {
    display: unset;
    overflow-x: hidden;
  }
  header #logoGrand {
    width: 250px;
  }
  header #navgrandLine {
    margin-bottom: 30px;
  }
  header #navgrandLine a {
    font-size: 2rem;
  }
  header #navgrandLine #togglerGrand {
    border: #0e0e0e solid 3px;
    border-radius: 30px;
  }
  header #navgrandLine #togglerGrand #togglerIcongrand {
    width: 50px;
    height: 60px;
  }
  header #navgrandLine #mobileLogoGrand {
    width: 200px;
  }
  .portadaGrand {
    background-size: 70rem 189rem;
    height: 290vh;
  }
  .portadaGrand .grandLine {
    font-size: 7rem !important;
  }
  .portadaGrand .descripcionGrand {
    font-size: 1.7rem !important;
  }
  .portadaGrand .tituloBelt {
    font-size: 3rem;
  }
  .portadaGrand #navbarGrand {
    flex-direction: column !important;
  }
  .portadaGrand #navbarGrand #navGrand {
    margin: 10px;
  }
  .mainGrid {
    margin-bottom: -5rem;
  }
  .mainGrid .grandLinevh .grandlineInfo {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainGrid .grandLinevh .grandlineInfo .tituloGrand {
    font-size: 4rem !important;
    text-align: center;
  }
  .mainGrid .grandLinevh .grandlineInfo .Infoline {
    font-size: 1.2rem;
    text-align: center;
  }
  .mainGrid #infoInvert {
    display: flex;
    flex-direction: column;
  }
  .mainGrid #calmImage {
    margin-top: 0px;
  }
  .mainGrid .grandImagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px !important;
  }
  .mainGrid .grandImagen .imgsTripulantes {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 200px;
    height: 200px;
  }
  .mainGrid .grandImagen .imgsTripulantes .trpulantesNuevos {
    display: none;
  }
  .mainGrid .grandImagen .grandImages {
    width: 23rem !important;
    height: 15rem !important;
    margin-top: -160px;
    margin-bottom: -30px;
  }
  .mainGrid #marineford {
    margin-bottom: 5rem;
  }
  #subidadivGrand {
    margin-left: 10px;
    margin-top: -4.5rem;
    bottom: 2rem;
  }
  #subidadivGrand #imgsubidaGrand {
    width: 70px;
    height: 70px;
  }
}
/* Grand Line Mobile S */
@media screen and (max-width: 375px) {
  .bodyGrand {
    display: unset;
    overflow-x: hidden;
  }
  header #navgrandLine {
    margin-left: -3rem;
    margin-top: 1rem;
  }
  header #logoGrand {
    width: 13rem;
    margin-bottom: 1rem;
  }
  .portadaGrand {
    height: 320vh;
  }
  .portadaGrand .grandLine {
    font-size: 6rem !important;
  }
  .mainGrid .grandLinevh .grandlineInfo .tituloGrand {
    font-size: 3rem !important;
  }
  .mainGrid .grandLinevh .grandlineInfo .Infoline {
    font-size: 1.2rem;
  }
  .mainGrid .grandImagen .grandImages {
    width: 18rem !important;
    height: 12rem !important;
  }
  .mainGrid #marineford {
    margin-bottom: 5rem;
  }
}
/* Media */
.bodyMedia {
  display: grid;
  grid-template-areas: " header header header " " portada portada portada " " main main main " " footer footer footer ";
  grid-template-columns: 150px 1fr 3fr;
  grid-template-rows: 150px 1fr 3.4fr 300px;
}

.portadaMedia {
  grid-area: portada;
  background-image: url(../../imagenes/media-portada.jpg);
  background-position: center;
  background-size: 1600px 782px;
  background-repeat: no-repeat;
  font-weight: bolder;
  color: black;
  text-align: center;
  padding-left: 10px;
  height: 95vh;
  border-bottom: black solid 2px;
}
.portadaMedia .media {
  font-size: 15rem;
  text-align: left;
}
.portadaMedia .descripcionMedia {
  font-size: 2.9rem;
  text-align: left;
}

.mainMedia {
  background-color: lightblue;
  grid-area: main;
  margin-top: -3.2rem;
}
.mainMedia .sectionVideos {
  margin-bottom: 70px;
  padding-bottom: 100px;
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.mainMedia .sectionVideos .tituloMedia {
  text-align: center;
  font-size: 5rem;
}
.mainMedia .sectionVideos .videosMedia {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.mainMedia .sectionVideos .videosMedia div {
  border: burlywood solid 4px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.mainMedia .sectionVideos .spotify {
  border: burlywood solid 4px;
  border-radius: 20px;
}
.mainMedia .sectionVideos .carruselMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainMedia .sectionVideos .carruselMedia .carousel-inner {
  border: burlywood solid 4px;
}
.mainMedia .sectionVideos .carruselMedia .carousel-inner .imgsCarrusel {
  width: 1200px;
  height: 600px;
  padding: 20px;
}

/* Media Adaptación 4K */
@media screen and (min-width: 1536px) and (max-width: 2700px) {
  .portadaMedia {
    background-size: 2950px 1680px;
    height: unset;
  }
  .portadaMedia .media {
    font-size: 30rem;
  }
  .portadaMedia .descripcionMedia {
    font-size: 7rem;
  }
  .mainMedia {
    margin-top: -0.32rem;
    margin-bottom: 0rem;
  }
  .mainMedia section .sectionVideos {
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mainMedia section .sectionVideos .tituloMedia {
    font-size: 15rem;
  }
  .mainMedia section .sectionVideos .videosMedia {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  .mainMedia section .sectionVideos .videosMedia div {
    border: burlywood solid 4px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .mainMedia section .sectionVideos .videosMedia .iframeMedia {
    width: 50rem;
    height: 35rem;
  }
  .mainMedia section .sectionVideos .videosMedia .spotifyMedia {
    width: 50rem;
    height: 80rem;
  }
  .mainMedia section .sectionVideos .carruselMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainMedia section .sectionVideos .carruselMedia .carousel-inner {
    border: burlywood solid 4px;
  }
  .mainMedia section .sectionVideos .carruselMedia .carousel-inner .imgsCarrusel {
    width: 155rem;
    height: 80rem;
    padding: 20px;
  }
}
/* Media Laptop L */
@media screen and (min-width: 1400px) and (max-width: 1535px) {
  .portadaMedia {
    background-size: 1650px 927px;
    height: unset;
  }
  .portadaMedia .media {
    font-size: 18rem;
  }
  .portadaMedia .descripcionMedia {
    font-size: 3.5rem;
  }
  .mainMedia {
    margin-top: -0.32rem;
    margin-bottom: 0rem;
  }
  .mainMedia section .sectionVideos {
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mainMedia section .sectionVideos .tituloMedia {
    text-align: center;
    font-size: 5rem;
  }
  .mainMedia section .sectionVideos .videosMedia {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  .mainMedia section .sectionVideos .videosMedia div {
    border: burlywood solid 4px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .mainMedia section .sectionVideos .videosMedia .iframeMedia {
    width: 28rem;
    height: 22rem;
  }
  .mainMedia section .sectionVideos .videosMedia .spotifyMedia {
    width: 27rem;
    height: 50rem;
  }
  .mainMedia section .sectionVideos .carruselMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainMedia section .sectionVideos .carruselMedia .carousel-inner {
    border: burlywood solid 4px;
  }
  .mainMedia section .sectionVideos .carruselMedia .carousel-inner .imgsCarrusel {
    width: 80rem;
    height: 50rem;
    padding: 20px;
    margin-left: 40px;
  }
}
/* Media Tablet */
@media screen and (min-width: 641px) and (max-width: 1075px) {
  .bodyMedia {
    display: unset;
  }
  #logoMedia {
    width: 14rem;
  }
  #mobileLogomedia {
    width: 200px;
  }
  .portadaMedia {
    background-size: 70rem 120.5rem;
    text-align: center;
    height: unset;
    border-bottom: black solid 2px;
    height: 100vh;
  }
  .portadaMedia .media {
    font-size: 15rem;
    margin-bottom: -2rem;
  }
  .portadaMedia .descripcionMedia {
    font-size: 2.3rem;
  }
  .mainMedia {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .mainMedia section {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .mainMedia section .sectionVideos .tituloMedia {
    font-size: 7rem !important;
  }
  .mainMedia section .sectionVideos .videosMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainMedia section .sectionVideos .videosMedia div {
    margin-bottom: 30px;
  }
  .mainMedia section .sectionVideos .videosMedia .iframeMedia {
    width: 34rem;
    height: 23rem;
  }
  .mainMedia section .sectionVideos .videosMedia .spotifyMedia {
    width: 30rem;
    height: 50rem;
  }
  .mainMedia section .sectionVideos .carruselMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainMedia section .sectionVideos .carruselMedia .imgsCarrusel {
    width: 38rem !important;
    height: 25rem !important;
    margin-left: 0px !important;
    padding: 10px !important;
  }
  #subidadivMedia {
    margin-top: -75px;
    bottom: 2px;
  }
}
/*Media Mobile*/
@media screen and (max-width: 640px) {
  .bodyMedia {
    display: unset;
  }
  #logoMedia {
    width: 14rem;
  }
  #mobileLogomedia {
    width: 200px;
  }
  .portadaMedia {
    background-size: 70rem 120.5rem;
    text-align: center;
    height: 150vh;
    border-bottom: black solid 2px;
    margin-bottom: -0.6rem;
  }
  .portadaMedia .media {
    font-size: 8rem;
  }
  .portadaMedia .descripcionMedia {
    font-size: 2rem;
  }
  .mainMedia .sectionVideos {
    box-shadow: unset;
    margin-bottom: -4rem;
  }
  .mainMedia .sectionVideos .tituloMedia {
    font-size: 3.7rem !important;
  }
  .mainMedia .sectionVideos .videosMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainMedia .sectionVideos .videosMedia div {
    margin-bottom: 30px;
  }
  .mainMedia .sectionVideos .videosMedia .iframeMedia {
    width: 18.5rem;
    height: 12rem;
  }
  .mainMedia .sectionVideos .videosMedia .spotifyMedia {
    width: 16rem;
    height: 30rem;
  }
  .mainMedia .sectionVideos .carruselMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .mainMedia .sectionVideos .carruselMedia .carousel-inner {
    border: burlywood solid 4px;
  }
  .mainMedia .sectionVideos .carruselMedia .carousel-inner .imgsCarrusel {
    width: 19rem !important;
    height: 14rem !important;
    margin-left: 0px !important;
    padding: 5px !important;
  }
  #subidadivMedia {
    margin-top: -75px;
    bottom: 2px;
  }
}
/* Se Un Nakama */
.bodyNakama {
  display: grid;
  grid-template-areas: " header header header " " main main main " " footer footer footer ";
  grid-template-columns: 150px 1fr 3fr;
  grid-template-rows: 150px 1fr 300px;
  background: lightblue;
  color: #fff;
}

.mainNakama {
  grid-area: main;
}
.mainNakama .tituloNakama {
  text-align: center;
  margin-left: 40px;
  font-size: 6em;
  margin-bottom: 30px;
}
.mainNakama .tituloNakama span {
  color: burlywood;
}
.mainNakama .content .contact-wrapper {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin-top: -60px;
}
.mainNakama .content .contact-wrapper .contact-form {
  background-image: url(../../imagenes/image.jpg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
}
.mainNakama .content .contact-wrapper .contact-form h3 {
  text-align: center;
  font-size: 3rem;
  color: black;
}
.mainNakama .content .contact-wrapper .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
}
.mainNakama .content .contact-wrapper .contact-form form label {
  display: block;
  color: #0e0e0e;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}
.mainNakama .content .contact-wrapper .contact-form form p {
  margin: 0;
  padding: 1em;
  font-family: "Bebas Neue", cursive;
}
.mainNakama .content .contact-wrapper .contact-form form .block {
  grid-column: 1/3;
}
.mainNakama .content .contact-wrapper .contact-form form input, .mainNakama .content .contact-wrapper .contact-form form button,
.mainNakama .content .contact-wrapper .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
}
.mainNakama .content .contact-wrapper .contact-form form button {
  background: black;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.mainNakama .content .contact-wrapper .contact-form form button:hover, .mainNakama .content .contact-wrapper .contact-form form button:focus {
  background: rgb(25, 27, 27);
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.mainNakama .content .contact-info {
  width: 500px;
}
.mainNakama .content .contact-info .imgsNakama {
  width: 500px;
  margin-top: 120px;
}
.mainNakama .content .contact-info .imgsCalaveranakama {
  width: 500px;
  margin-top: 190px;
}

/* Se un Nakama 4K */
@media screen and (min-width: 1600px) and (max-width: 2700px) {
  .tituloNakama {
    font-size: 10rem !important;
  }
  .contact-form h3 {
    font-size: 7rem !important;
  }
  .contact-form form {
    width: 90rem !important;
    height: 80rem !important;
  }
  .contact-form form label {
    font-size: 4rem !important;
  }
  .contact-form form input, .mainNakama .content .contact-wrapper .contact-form form button,
  .contact-form form textarea {
    font-size: 3rem !important;
  }
  .contact-form form button {
    font-size: 5rem !important;
    padding: 1em !important;
  }
  .contact-info {
    width: 1100px !important;
    margin-top: 10rem;
  }
  .contact-info .imgsNakama {
    width: 1100px !important;
  }
  .contact-info .imgsCalaveranakama {
    width: 1100px !important;
  }
}
/* Se un Nakama Tablet */
@media screen and (min-width: 641px) and (max-width: 1075px) {
  .bodyNakama {
    display: unset;
  }
  header .logoImagenakama {
    width: 13rem;
  }
  header #mobileLogoNakama {
    width: 200px;
  }
  header #navNakamamobile {
    font-size: 2rem;
  }
  header #togglerNakama {
    border: #0e0e0e solid 3px;
    border-radius: 30px;
  }
  header #togglerNakama #togglerIconNakama {
    width: 50px;
    height: 60px;
  }
  .mainNakama .tituloNakama {
    font-size: 4rem;
    text-align: center;
    margin-left: 0px;
  }
  .mainNakama .content {
    display: unset;
  }
  .mainNakama .content .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainNakama .content .contact-wrapper .contact-form form {
    width: 38rem !important;
  }
  .mainNakama .content .contact-wrapper .contact-form button {
    width: 36rem !important;
  }
  .mainNakama .content .contact-wrapper .contact-form button:hover, .mainNakama .content .contact-wrapper .contact-form button:focus {
    background: rgb(25, 27, 27);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
  }
  .mainNakama .content .contact-wrapper .contact-info {
    margin-right: 0px;
    width: 30rem;
    margin-top: -80px;
  }
  .mainNakama .content .contact-wrapper .contact-info .imgsNakama {
    width: 30rem;
  }
  .mainNakama .content .contact-wrapper .contact-info .imgsCalaveranakama {
    width: 30rem;
  }
}
/* Se un Nakama Mobile */
@media screen and (max-width: 640px) {
  .bodyNakama {
    display: unset;
  }
  header .logoImagenakama {
    width: 12rem;
    margin-bottom: -10px;
  }
  header #mobileLogoNakama {
    width: 200px;
  }
  header #navNakamamobile {
    font-size: 2rem;
  }
  header #togglerNakama {
    border: #0e0e0e solid 3px;
    border-radius: 30px;
  }
  header #togglerNakama #togglerIconNakama {
    width: 50px;
    height: 60px;
  }
  .mainNakama .tituloNakama {
    font-size: 4rem;
    text-align: center;
    margin-left: 0px;
  }
  .mainNakama .content {
    display: unset;
  }
  .mainNakama .content .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainNakama .content .contact-wrapper .contact-form form {
    width: 19rem !important;
  }
  .mainNakama .content .contact-wrapper .contact-form form input, .mainNakama .content .contact-wrapper .contact-form form button {
    width: 120% !important;
  }
  .mainNakama .content .contact-wrapper .contact-form form label {
    font-size: 1.7rem !important;
  }
  .mainNakama .content .contact-wrapper .contact-form button {
    width: 100% !important;
  }
  .mainNakama .content .contact-wrapper .contact-form button:hover, .mainNakama .content .contact-wrapper .contact-form button:focus {
    background: rgb(25, 27, 27);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
  }
  .mainNakama .content .contact-wrapper .contact-info {
    margin-right: 0px;
    width: 18rem;
    margin-top: -80px;
  }
  .mainNakama .content .contact-wrapper .contact-info .imgsNakama {
    width: 18rem;
  }
  .mainNakama .content .contact-wrapper .contact-info .imgsCalaveranakama {
    width: 18rem;
  }
}
@media screen and (max-width: 375px) {
  .contact-form form {
    width: 19rem !important;
  }
  .contact-form form p {
    width: 90%;
  }
  .contact-form form input, .mainNakama .content .contact-wrapper .contact-form form button {
    width: 110% !important;
  }
  .contact-form form label {
    font-size: 1.7rem !important;
  }
}
/* Error 404 */
.bodyError {
  background-color: lightblue;
  display: flex;
}
.bodyError .container-error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12rem;
  margin-top: 1rem;
  text-align: center;
}
.bodyError .container-error404 h1 {
  font-size: 4rem;
}
.bodyError .container-error404 p {
  font-size: 1.5rem;
  opacity: 0.8;
}
.bodyError .container-error404 .botonError-404 {
  margin-top: 20px;
}
.bodyError .container-error404 .botonError-404 a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1.5rem;
  background-color: burlywood;
  border-radius: 30px;
}
.bodyError .container-error404 .botonError-404 a:hover {
  background-color: rgb(231, 183, 120);
}

@media screen and (max-width: 480px) {
  .container-error404 {
    margin-right: 10rem;
    margin-top: 15rem !important;
  }
  .container-error404 img {
    width: 600px;
  }
  .container-error404 h1 {
    font-size: 5rem !important;
    width: 150%;
    margin-left: -10rem;
  }
  .container-error404 p {
    font-size: 3rem !important;
    width: 150%;
    margin-left: -10rem;
    opacity: 0.8;
  }
  .container-error404 .botonError-404 {
    width: 150%;
    margin-top: 50px !important;
  }
  .container-error404 .botonError-404 a {
    font-size: 3.8rem !important;
    padding: 20px !important;
    border-radius: 50px !important;
    color: white;
  }
}
/* Footer Universal */
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-image: url(../../imagenes/fondo.jpg);
}
footer .logo {
  height: 80px;
  margin-bottom: 1rem;
}
footer .social-icons-container, footer .footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
footer .social-icons-container .social-icon, footer .footer-menu-container .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}
footer .social-icons-container .social-icon:hover, footer .footer-menu-container .social-icon:hover {
  background-color: #121212;
  filter: invert(1);
}
footer .social-icons-container .social-icon:nth-of-type(1), footer .footer-menu-container .social-icon:nth-of-type(1) {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/1200px-LinkedIn_icon_circle.svg.png);
  background-size: 100%;
}
footer .social-icons-container .social-icon:nth-of-type(2), footer .footer-menu-container .social-icon:nth-of-type(2) {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png);
  background-size: 100%;
}
footer .social-icons-container .social-icon:nth-of-type(3), footer .footer-menu-container .social-icon:nth-of-type(3) {
  background-image: url(https://seeklogo.com/images/T/twitter-x-logo-0339F999CF-seeklogo.com.png?v=638264860180000000);
  background-size: 100%;
}
footer .social-icons-container .social-icon:nth-of-type(4), footer .footer-menu-container .social-icon:nth-of-type(4) {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png);
  background-size: 100%;
}
footer .footer-menu-container {
  list-style-type: none;
  color: black;
  font-size: 18px;
}
footer .footer-menu-container .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  font-family: "Bebas Neue", cursive;
  font-size: 1.4rem;
}
footer .footer-menu-container .menu-item:hover {
  opacity: 1;
}
footer .copyright {
  color: #0e0e0e;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
}

/* Displays Nones Generales */
@media screen and (min-width: 991px) {
  .carrusel {
    display: none;
  }
  #navMobile {
    display: none;
  }
  #navgrandLine {
    display: none;
  }
  #navMedia {
    display: none;
  }
  #navTrips {
    display: none;
  }
  .subidaDiv {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
